.navBar__button {
  padding: 5 15px;
  margin: 0 $gutter / 2;
  font-size: $primary-font-size;
  font-weight: bold;
  background-color: #008000;
  transition: $hover-transition;
}
//&__HTML {

//}
//&__CSS {

//}
//&__JS {

//}
