// stylelint-disable selector-max-type, selector-max-compound-selectors
@import "config.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
  font-family: $font-main;
  font-size: 16px;
}

body {
  font-family: $font-main;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}

img { /* stylelint-disable-line */
  width: 100%;
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 $gutter;
  margin: 0 auto;
}

@media only screen and (min-width: $media-large) {
  .container {
    padding: 0;
  }
}

@import "buttons.scss";
@import "header.scss";
@import "cards.scss";
@import "lecture.scss";
